.wrap{
	width: 1000px;
	height: 835px;
	border: 5px #000 solid;
	background-color: #ff99ff;
	margin: auto;
}
.header{
	width: 960px;
	height: 245px;
	border: 3px #ff0 solid;
	background-color: #009;
	margin: auto;
	padding-left: 15px;
}
.headerlogo{
	width: 170px;
	height: 80px;
	border: 2px #ff0 solid;
	background-color: #ccf;
	margin: auto;
	float: left;

}
.headernav{
	width: 770px;
	height: 80px;
	border: 2px #ff0 solid;
	background-color: #fff;
	margin: auto;
	float: left;
	
}
.headerbanner{
	width: 944px;
	height: 160px;
	border: 2px #ff0 solid;
	background-color: #66f;
	margin: auto;
	float: left;
	
	
}
.content{
	width: 960px;
	height: 445px;
	border: 3px #ff0 solid;
	background-color: #333366;
	margin: auto;
	padding-left: 15px;
	padding-top: 9px;
}
.contentleft{
	width: 600px;
	height: 420px;
	border: 2px #ff0 solid;
	background-color: #333;
	margin: auto;
	float: left;
	
}
.contentright{
	width: 340px;
	height: 420px;
	border: 2px #ff0 solid;
	background-color: #fff;
	margin: auto;
	float: left;

	
}
.footer{
	width: 960px;
	height: 100px;
	border: 3px #ff0 solid;
	background-color: #ffc;
	margin: auto;
	padding-left: 15px;
}